@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hero";
  src: url("/font/HeroRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hero";
  src: url("/font/HeroLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Hero";
  src: url("/font/HeroBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* Base font for the body */
html,
body {
  width: 100vw;
  overflow-x: hidden;
  background-color:#fefefe;
  font-family: 'Hero', sans-serif;
  color:black;

  /* Smoother font rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Hide scrollbars visually, keep scrolling */
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

body::-webkit-scrollbar {
  display: none; 
}


/* Apply background + text color globally */
@layer base {
  * {
    @apply border-border;
  }
}

/* Custom utilities */
@layer utilities {

  .title {
    @apply text-black font-bold tracking-tight pb-2 pr-2;
  }
}

/* Footer styles */
footer {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 85svh;
  color: black;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.explosion-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 200%;
  pointer-events: none;
  overflow: hidden;
}

.explosion-particle-img {
  position: absolute;
  bottom: -200px;
  left: 50%;
  width: 150px;
  border-radius: 1rem;
  object-fit: cover;
  transform: translateX(-50%);
  will-change: transform;
}

@media (max-width: 1000px) {
  footer {
    height: 100svh;
  }

  footer .explosion-container {
    display: none;
  }
}
